*.log
*.toc
*.bbl
*.blg
*.aux
*.fls
*.out
*.synctex.gz
*.fdb_latexmk
СMakeLists.txt
**/.idea
**/cmake-build-debug
**/CMakeLists.txt
*.iml
**/__pycache__
**/.vscode
*.pygstyle
*.pygtex
code/sniffer/out.txt
code/sniffer/ip_list.txt
code/sniffer/ip_list.txt
